body{
    background-color: black;
}

.main{
 border: solid;
 color: white;
 height: 100vh;
}

/* NAVBAR */
.Top-Bar{
    border: solid;
    color: white;
    height: 50px;
    top: 0;
    position: sticky;
}